{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&family=Manrope:wght@400;700&family=Literata:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
</head>
<body>

    <main class="main">
        <div class="container">
            <h2 class="main-head">Реєстрація</h2>

            <form method="post">
                {% csrf_token %}
                <div class="formgroup">
                    {{ form.as_p }}
                </div>

                <div class="form_submit">
                    <button type="submit" class="button">
                        Зареєструватися
                    </button>
                </div>
            </form>

            <div class="form-links">
                <p style="color: #ECE9E4;">
                    Вже є акаунт?
                    <a href="{% url 'login' %}" class="button" style="margin-left: 0.5rem;">Увійти</a>
                </p>
            </div>
        </div>
    </main>

</body>
</html>