__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg

venv/
env/
ENV/
.venv/

*.log

*.sqlite3

.env
.env.*

*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

staticfiles/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store

.coverage
htmlcov/

.pytest_cache/

.mypy_cache/

cython_debug/
